[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
numpy = "<2"
datasets = "*"
py7zr = "*"
pandas = "*"
bs4 = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
